// Font Weights
$regular: 400;
$font-weight-base: $regular;

// Font Families
$font-family-base: 'open_sans-regular', sans-serif;
$font-family-base-light: 'open_sans-light', sans-serif;
$font-family-monospace: 'space_mono-regular', monospace;
$font-family-monospace-bold: 'space_mono-bold', monospace;

// Sizes
$font-size-base: 16px;
$font-size-small: 12px;
$line-height-base: 1;
$line-height-header: 1.2;
$line-height-copy: 1.5;

// Headings
$font-family-header: $font-family-base-light;
$font-size-header-1: 52px;
$font-size-header-2: 45px;
$font-size-header-3: 35px;
$font-size-header-4: 22px;
$font-size-header-5: 18px;
$font-size-header-6: 16px;

// Breakpoints
$bp-mobile-s: 320px;
$bp-mobile-m: 375px;
$bp-mobile-l: 425px;
$bp-tablet: 768px;
$bp-desktop-s: 1024px;
$bp-desktop-m: 1440px;
$bp-desktop-l: 1920px;

// Responsiveness scales
$base-reduction-factor: 0.625;
$mobile-reduction-factor: 0.8125;
