.u-animate {
  &--normal {
    @include transition();
  }

  &--slow4 {
    @include transition(4);
  }

  &--slow8 {
    @include transition(8);
  }

  &--delay3 {
    transition-delay: 3 * $animation-duration-default;
  }

  &--fadeIn {
    @extend %fadeIn;
    transition-property: $animation-transition-property-opacity;

    &FromBottom {
      @extend %fadeIn;
      @extend %fromBottom;
      transition-property: $animation-transition-property-opacity, $animation-transition-property-transform;
    }

    &FromTopRight {
      @extend %fadeIn;
      @extend %fromTopRight;
      transition-property: $animation-transition-property-opacity, $animation-transition-property-transform;
    }
  }
}
