* {
  box-sizing: border-box;
}

html {
  line-height: $line-height-base;
}

body {
  background-color: $grey;
  color: $space-grey;
  font-family: $font-family-base;
  font-size: $font-size-base * $mobile-reduction-factor;
  font-weight: $font-weight-base;

  @media (min-width: $bp-tablet) {
    font-size: $font-size-base;
  }

  &.freeze {
    overflow: hidden;

    @media (min-width: $bp-desktop-s) {
      overflow: visible;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: $font-family-base-light;
  font-size: $font-size-header-5;
  line-height: $line-height-copy;
  margin: 0;

  @media (min-width: $bp-tablet) {
    font-size: $font-size-header-4;
  }

  + p {
    margin-top: 1em;
  }
}

small {
  font-size: $font-size-small * 0.8;

  @media (min-width: $bp-tablet) {
    font-size: $font-size-small;
  }
}

figure {
  margin: 0;
}
