* {
  box-sizing: border-box;
}

html {
  line-height: $line-height-base;
}

body {
  background-color: $grey;
  color: $space-grey;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: $font-family-base-light;
  font-size: $font-size-header-4;
  line-height: $line-height-copy;
  margin: 0;

  + p {
    margin-top: 1em;
  }
}

small {
  font-size: $font-size-small;
}

figure {
  margin: 0;
}
