.Container {
  $container-width-base: $font-size-base * 80;
  width: 100%;
  max-width: $container-width-base;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &--padded {
    padding-left: 2 * $font-size-base;
    padding-right: 2 * $font-size-base;
  }

  &--inner {
    max-width: $container-width-base * 0.8;
  }
}
