.FlexLayout {
  display: flex;

  &--crossCentered {
    align-items: center;
  }

  &--mainCentered {
    justify-content: center;
  }

  &--mainEnd {
    justify-content: flex-end;
  }

  &--mainSpaceBetween {
    justify-content: space-between;
  }

  &--mainSpaceEvenly {
    > .FlexLayout--spacer1 {
      flex: 1 1 auto;
    }
  }

  &--equalWidth {
    > * {
      flex-basis: 100%;
    }
  }

  &--column {
    flex-direction: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--spaceHalf {
    > * {
      margin-right: 1/2 * $font-size-base;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--space1 {
    > * {
      margin-right: 1 * $font-size-base;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--space2 {
    > * {
      margin-right: 2 * $font-size-base;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--space3 {
    > * {
      margin-right: 3 * $font-size-base;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--space4 {
    > * {
      margin-right: 4 * $font-size-base;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
