.Hero {
  margin-top: 10 * $font-size-base;
  max-width: none;

  &-headline {
    margin-bottom: 6 * $font-size-base;

    > h2 {
      text-align: center;
      padding: 0 13%;
    }
  }

  &-image {
    width: 150%;
    margin-left: -25%;

    > img {
      height: 100%;
      width: 100%;
      max-width: 120 * $font-size-base;
      animation-duration: 240s;
      animation-iteration-count: infinite;
      animation-name: rotate-slowly;
      animation-timing-function: linear;
    }
  }
}
