.Link {
  color: $space-grey;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1/8 * 1em;
  padding-bottom: 1/8 * 1em;
  transition-property: border-bottom-color;
  @include transition();

  &:hover {
    color: $space-grey;
    border-bottom-color: currentColor;
    text-decoration: none;
  }

  &--light {
    color: white;

    &:hover {
      color: white;
    }
  }

  &--cta {
    font-family: $font-family-monospace-bold;
    font-size: $font-size-base * $mobile-reduction-factor;
    color: $fire-engine-red;
    text-transform: uppercase;

    @media (min-width: $bp-tablet) {
      font-size: $font-size-base;
    }

    &:hover {
      color: $fire-engine-red;
    }
  }
}
