.Section {
  overflow: hidden;

  &:after, &:before {
    content: " ";
    display: table
  }

  &:after {
    clear: both;
  }

  > * + * {
    margin-top: 10 * $font-size-base;
  }

  &--padTop {
    padding-top: 10 * $font-size-base;
  }

  &--padBottom {
    padding-bottom: 10 * $font-size-base;
  }

  &--spaceGreyStatic {
    .static & {
      background-color: $space-grey;
      color: $white;
    }
  }

  &--greyStatic {
    .static & {
      background-color: $grey;
      color: $space-grey;
    }
  }

  &--red {
    background-color: $fire-engine-red;
    color: $white;
  }

  footer {
    margin-top: 5 * $font-size-base;
    text-align: right;
  }
}
