.Section {
  overflow: hidden;

  &:after, &:before {
    content: " ";
    display: table
  }

  &:after {
    clear: both;
  }

  > * + * {
    margin-top: 10 * $font-size-base;
  }

  &--padTop {
    padding-top: 10 * $font-size-base;
  }

  &--padBottom {
    padding-bottom: 10 * $font-size-base;
  }

  &--red {
    background-color: $fire-engine-red;
    color: $grey;
  }

  footer {
    margin-top: 12 * $font-size-base;
  }
}
