.u-responsive {
  width: 100%;
  height: auto;
}

.u-marginBottom {
  margin-bottom: 1em;
}

.u-marginBottom4 {
  margin-bottom: 4em;
}

.u-marginTop {
  margin-top: 1em;
}

.u-hide {
  &--beforeDesktop {
    @media (max-width: $bp-desktop-m - 1px) {
      display: none;
    }
  }

  &--beforeDesktopS {
    @media (max-width: $bp-desktop-s - 1px) {
      display: none;
    }
  }

  &--afterDesktopS {
    @media (min-width: $bp-desktop-s) {
      display: none;
    }
  }
}
