.Clients {
  $client-spacing: $font-size-base * 5;
  margin-top: $client-spacing * $mobile-reduction-factor;

  @media (min-width: $bp-tablet) {
    margin-top: $client-spacing;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $bp-mobile-l) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item {
      flex: 0 0 auto;
      margin-bottom: $font-size-base * 2;

      @media (min-width: $bp-mobile-l) {
        margin-right: $font-size-base * 2;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      > img {
        $max-height: $font-size-base * 4;
        $max-width: $font-size-base * 10;
        max-height: $max-height * $mobile-reduction-factor;
        max-width: $max-width * $mobile-reduction-factor;
        width: auto;
        height: auto;

        @media (min-width: $bp-tablet) {
          max-height: $max-height;
          max-width: $max-width;
        }
      }
    }
  }
}
