.Cube {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 5 * $font-size-base;
  padding-bottom: 5 * $font-size-base;
  margin-top: 5 * $font-size-base;
  margin-bottom: 5 * $font-size-base;

  &-section {
    width: 100%;

    footer {
      margin-top: 5 * $font-size-base;
    }
  }

  &-slider {
    position: relative;
    overflow: hidden;
    height: 325px;
    width: 100%;

    &-track {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &-slide {
      position: relative;
      overflow: hidden;
      height: 325px;
      width: 100%;
      clip-path: inset(0 0 0 0);

      &:not(:first-child) {
        background-color: $grey;
      }

      &-content {
        &.active {
          position: fixed;
        }
      }
    }
  }
}
