.FeaturedWork {
  padding-top: 10 * $font-size-base;
  padding-bottom: 10 * $font-size-base;

  &-header {
    &-caption {
      width: 40%;
      flex-shrink: 0;
      margin-right: 10%;

      &-title {
        margin-bottom: 3 * $font-size-base;
      }

      &-description {
        color: $grey;
      }
    }

    &-figure {
      width: 100%;
      height: auto;
    }
  }

  &-figure {
    $figure-class: &;
    width: 80%;
    margin-top: 10 * $font-size-base;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    &-caption {
      $border: 3px solid white;
      $padding: (2 * $font-size-base) (1.6875 * $font-size-base);
      position: absolute;
      min-height: 25 * $font-size-base;
      width: 25 * $font-size-base;
      border: $border;
      z-index: 2;
      transform-origin: top left;
      @include transition(2);

      #{$figure-class}:nth-child(odd) & {
        transform-origin: top right;
        right: 0;
      }

      &.secondary {
        transform: scale(0.9, 0.9);
        z-index: 0;
      }

      header {
        border-bottom: $border;
        padding: $padding;
        font-family: $font-family-monospace-bold;
        text-transform: uppercase;
      }

      p {
        padding: $padding;
      }
    }

    &-video {
      max-width: 45 * $font-size-base;
      padding-top: 4 * $font-size-base;
      margin-left: 13 * $font-size-base;
      margin-right: auto;
      position: relative;
      z-index: 1;

      #{$figure-class}:nth-child(odd) & {
        margin-left: auto;
        margin-right: 13 * $font-size-base;
      }

      video {
        width: 100%;
        height: auto;
      }
    }
  }

  &-footer {
    padding-top: 12 * $font-size-base;
  }
}
