.Nav {
  padding-top: 2 * $font-size-base;
  padding-bottom: 2 * $font-size-base;

  &-logo {
    max-width: 273px;
  }

  &-links {
    flex-shrink: 0;
  }

  &-subMenu {
    font-size: $font-size-small;
    margin-bottom: $font-size-header-4;
  }

  &-menu {
    font-size: $font-size-header-5;
  }
}
